* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Pattaya', sans-serif; }
  
  .navbar-brand{
    font-size: 2rem;
  }

.seily_navbar {

  background-color: rgba(255, 255, 255, 0.5) !important; 
}

.seily_navbar div, .seily_navbar ul {
  background-color: transparent; }

.container {
  padding: 20px;
  margin-top: 20px; }

.seily_cont_footer {
  background-color: rgba(1, 1, 1, 0.7);
  padding: 10%;
  margin-top: 100px;
  color: #fff; }

.seily_cont_footer a {
  color: #fff;
  text-decoration: none;
  display: block; }

.col-md-1 {
  display: flex; }

.col-md-4 {
  margin: 5px;
  padding: 25px; }

.col-md-5 {
  margin: 5px;
  padding: 25px; }

.tex-center {
  text-align: center;
  padding: 20px; }

.Galery img:hover {
  border: 5px solid white; }

.col-lg-4 {
  padding: 20px;
  margin: 0 !important; }

.Evento {
  padding: 20px;
  margin: 40px; }

.Pcontainer {
  display: flex;
  text-align: center; }

.container3 {
  padding: 5%;
  margin: 5%; }

a {
  text-decoration: none; }

.fw-bold {
  font-weight: 700 !important;
  font-size: 1.5rem; }

.form-group i {
  font-size: 1.8rem;
  padding: 01.5rem;
  color: #fff; }

.form-group:hover .fa-instagram {
  color: #c319f7;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s; }

.form-group:hover .fa-twitter {
  color: #6cddff;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s; }

.form-group:hover .fa-facebook-f {
  color: #340ba3;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s; }
